* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #07081a;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0d0e28;
}
::-webkit-scrollbar-thumb {
  background: #1565FF;
  border-radius: 3px;
}
